<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VRTakeMovie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69004D4C1B64B11B006204F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69004D601B64B11B006204F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>69004D6B1B64B11B006204F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
